@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scrollbar-color: auto !important;
	scrollbar-width: auto !important;
}

*::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 7px;
}

*::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.4);
}

/* Remove a linha de baixo do item ativo */
/* .ant-menu-light.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu::after,
.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after,
.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-selected::after,
.ant-menu-light.ant-menu-horizontal > .ant-menu-item-active::after {
  border-bottom: none !important;
} */
